<% if search_type == "company" %>
<div class = "search-heading"><h1 id = "search-heading">COMPANY SEARCH</h1></div>
    <div class = "left">
      <div id = "searchPanel">
       <h2>FILTER BY</h2>
    <!--   <form method="get" action="/search">-->
    <!--     <input type="hidden" name="search_from" value="refine_search" value='<%=session[:company]%>'></input>-->
    <!--  <div>-->
    <!--    <label for "company">Company</label>-->
    <!--    <input  type="text" name="company" placeholder="Company" value='<%=session[:company]%>' class="form-control" />-->
    <!--</div>          -->
    <!--<br> -->
    <!--<div>-->
    <!--    <button type="submit" class="btn btn-primary">Refine</button>-->
    <!--</div>-->
    <!--   </form>     -->
 </div>
</div>
<div class = "centre">
    <div id = "results">
        <div class="content">
            <% company.each do |i| %>
            <div class="item">
            <table><th class = "resultCompany"><h1><%= link_to i.title , {controller: 'employerprofile', action: 'show', id: i.id} %></h1></th>
          <tr>
          <td class = "resultDescription"><h3></h3>Description: <%= User.find(i.user_id).about %> <br></h3></td>
            </tr>
        </table>
          <br>
           </div>
          <hr>

        <%end%>
        </div>
        </div>
</div>
<div class = "right"></div>   
    <%end%> 

      
<style type="text/css">

    .left {
        width: 32%;
    }
    
    .right {
        width: 0%;
    }

    .centre {
        width: 50%;
        float: left;
        
    }
    
    #search .btn-primary {
        border-radius: 0;
        border: 4px solid black;
        background-color: white;
        color: black;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        
        
        width: 70%;
        margin-left: 15%;
    }
    
    .resultCompany{
        float: left;
        
    }

    .link {
        color: #35a192;
    }
    
    table {
        width: 90%;
        margin-left: 5%;
        
    }
    
    .searchPanel div {
          margin-bottom: 2%;
    }

      
    #results {
        background-color: white;
        border: 4px solid black;
        width: 99%;
        margin-left: 1%;
    }
      
      .content{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        
      }
      
</style>