<h3>Jobs</h3>

<h4>Refine your search</h4>

<form method="get" action="/search">
    <% q = "software developer" %>
	<input type="text" name="refined_query" value='<%=session[:welcome_query]%>' ></input>
	<input type="hidden" name="search_from" value="refine_search"></input>
	<button type="submit" class="btn btn-default">Refine</button>
</form>

<% @jobs.each do |job| %>
<br>
<h6>Title</h6>
<%= job.title %>
<br>
<h6>Descripton</h6>
<%= job.description %>
<br>
<%end%>
