<% if @messages %>
	<% @messages.each do |message| %>
	<h2>Congrutulations! The company would like to take the process further and is requesting an interview</h2>
	<% job = Job.find(message.job_id ) %>
		<table>
			<tr>
				<%=  message.message %>
			</tr>
			<tr><%= link_to Job.title, job %>	 </tr>
		</table>
	<% end %>
<%end%>