<% if @messages %>
	<% @messages.each do |message| %>
	<h2>Congrutulations you have made to interview steps for this job</h2>
	<% job = Job.find(message.job_id ) %>
		<table>
			<tr>
				<%=  message.message %>
			</tr>
			<tr>  <%= link_to  job.title, job %>	 </tr>
		</table>
		
	<% end %>
<%end%>