<div class="container">
<% if @applications %>
	<table width="500">
		<thead>
			<tr>
				<th>Applicant Name</th>
				<th>Question 1</th>
				<th>Question 2</th>
				<th>Question 3</th>
			</tr>
		</thead>
		<tbody>
	<% @applications.each do |application| %>
	<tr>
		<% seeker  = JobSeeker.find(application.job_seeker_id) %>
		<td><%= link_to seeker.user.first_name, {controller: "job_seekers", action: "show", id: seeker.user.id, job_id: @job.id} %></td>
		<td><% application.question1 %></td>
		<td><% application.question2 %></td>
		<td><% application.question3 %></td>

	</tr>
	<% end %>
	</tbody>
	</table>
<%end%>
</div>