<div class="container">

	<h2>Let's start telling, who are you ?</h2>




	<h3><%= link_to "I am a job seeker", jobseeker_path, class: '' %></h3>

	<h3><%= link_to "I am an employer", employer_path, class: '' %></h3>

</div>


<style type="text/css">
	.container{
		text-align: center;
	}
</style>