<div class="container">
  <div class="body container-fluid" id = "body">

      <h1>no experience needed</h1>
      <p>GET THE EXPERIENCE YOU NEED</p>


      <div class = "form-group col-xs-9 row row-centered" id = "search">
          <form id = "searchbar" method = "get">
              <input type="text" class = "form-control" name = "field" placeholder = "field of choice">
              <button type="button" class="btn btn-default" name="button" style="margin-top:20px;">Find Me Job</button>
          </form>

      </div>

  </div>

</div>
