
<div class="container" id="welcome_page">


     

          <form method="get" action="/search" name="welcome_form">
          <div class="row">
             <h1>no experience needed</h1>
      <p>GET THE EXPERIENCE YOU NEED</p>
          </div>
          <div class="row">
          <div class="col-md-2"></div>
                <div class="col-md-4">
              <input type="text" class = "form-control" name="search_query" placeholder="search">
                 </div>
       
              <div class="col-md-4">
              <select class="form-control" name="search_type" class="form-control">
                <option value="jobs">Jobs</option>
                <option value="interviews">Interviews</option>
                <option value="comp_reviews">Company Reviews</option>
                <option value = "company">Companies</option>
              </select>
              </div>
               <div class="col-md-2"></div>
                   
</div>
              <input type="hidden" value="welcome_page_search" name="search_from" class="form-control" />

              <div class="row"></div>
              <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
             <button type="submit" class="btn btn-primary">Search</button>
             </div>
             <div class="col-md-4">
             </div>
             </div>
    
</form>
      </div>




<style type="text/css">

body {
  background: #eee !important;  
}


  .btn-primary{
    width: 200px;
  }
  .container, .row{
    text-align: center;

  }
  .container{
    margin-top: 10%;
  }



</style>