<div class="container">
	Hey there, my id is <%= current_user.company.id %>

	<%= link_to "Create Job", jobs_create_new_job_path, class: "btn btn-primary", remote: true %>

	<%= link_to "Active Jobs", jobs_active_path, class: "btn btn-primary", remote: true %> 

	<div id="content"></div>
</div>