<div id = "review">
			<%#review = Review.where(:company_id => session[:comp_id])%>
			<%if review != nil%>
			<% review.each do |r|%>
			<div>
				<div><%= link_to r.title , {controller: 'company_reviews', action: 'show', id: r.id } , class: "link"%></div>
				<div>
				<%=r.description%></div>
			</div>
			<%end%>
			<%end%>
</div>