<div class="container">
  <div class="slider">
    <ul class="slides">
      <li class="slide"><%= image_tag "02.jpg" %></li>
      <li class="slide"><%= image_tag "04.jpg" %></li>
      <li class="slide"><%= image_tag "05.jpg" %></li>
      <li class="slide"><%= image_tag "09.jpg" %></li>
    </ul>
  </div>
</div>


<style>
.slides{
  display: block;
  width: 2400px;
  margin: 0;
  padding: 0;
}
.slide{
  float: left;
  list-style-type: none;
  width: 600px;
}
.slider{
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

</style>
<script>
  var myInterval = setInterval(function(){
    console.log(new Date());
  });
  $(function(){
    //set interval
    //animate margin-left
    // if it's last slide go to slide1

    //listen to event
  
  });
</script>
