
<form action = "/createprofile/save" method = "post">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<textarea  style="height: 70px;!important" name = "about" type = "text" placeholder="ABOUT" class="form-control"></textarea>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<input placeholder="WEB URL" name = "web_url" type = "url" class="form-control">
</div>
<div class="col-md-2">
</div>
</div>
<input name = "id" type = "hidden" value = '<%=@user.id%>'>
 <input  name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<button class="btn btn-info">Create Profile</button>
</div>
<div class="col-md-2"></div>

</div>

</form>
<style type="text/css">
	input, textarea{
		width: 100%;
		max-width: 100%;
	}
	
	
</style>
